* {
  margin: 0;
  padding: 0;
}

html,
body {
  font-family: "Roboto", sans-serif;
  background-color: #ffffff;
  font-weight: 400;
  color: #434455;
  font-size: 16px;
  letter-spacing: 0.02em;
}
img {
  display: block;
  height: auto;
  max-width: 100%;
}
.header-logo {
  border-bottom: 1px solid #e7e9fc;
}
header {
  box-shadow: 0px 2px 1px rgb(46, 47, 66, 0.08),
    0px 1px 1px rgb(46, 47, 66, 0.16), 0px 1px 6px rgb(46, 47, 66, 0.08);
}

.container {
  display: flex;
  width: 1158px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 15px;

  align-items: center;
}
.nav-bar {
  display: flex;
  align-items: center;
}
.logo-hea {
  display: flex;
  font-family: "Raleway", sans-serif;
  color: #4d5ae5;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-decoration: none;
  line-height: 1.17;
  margin-right: 76px;
  padding: 24px 0;
  position: relative;
}

.stu-dio-1 {
  color: #2e2f42;
}
.header-item,
.header-ul,
.adress-link {
  list-style-type: none;
  display: flex;
  font-size: 16px;
  gap: 40px;
  text-decoration: none;
}
.header-ul .item {
  display: flex;
}

.adress {
  display: flex;
  font-size: 16px;
  color: #434455;
  line-height: 1.5;
  letter-spacing: 0.02em;
  gap: 40px;
  text-decoration: none;
  align-items: center;
  justify-content: center;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.link-list {
  font-style: normal;
  display: flex;
  gap: 40px;
}

.header-item {
  display: flex;
  font-family: "Roboto";
  color: #2e2f42;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  gap: 40px;
  padding: 24px 0;
  position: relative;
  color: #404bbf;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-item::after {
  content: "";
  width: 100%;
  position: absolute;
  left: 0;
  bottom: -1px;
  height: 4px;
  background-color: #404bbf;
  border-radius: 2px;
}
.header-item:hover,
.header-item:focus {
  color: #404bbf;
}

.adress:hover,
.adress:focus {
  color: #404bbf;
}

h1 {
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  color: #ffffff;
  letter-spacing: 0.02em;
  max-width: 496px;
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  top: 0;
  left: 0;
}

.order-service {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #2e2f42;
  padding: 188px 0;
  max-width: 1440px;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/img-jpg-11.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin: 0 auto;
}
.main-text {
  display: flex;
  max-width: 496px;
  text-align: center;
}
.button {
  display: flex;
  margin: 0 auto;
  align-items: center;
  justify-content: center;
}

.button-text-color {
  font-family: "Roboto" sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;

  min-width: 169px;
  height: 56px;
  border: none;
  background-color: #4d5ae5;
  border-radius: 4px;
  cursor: pointer;
  display: block;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button-text-color:hover {
  background-color: #404bbf;
}
.button-text-color:focus {
  background-color: #404bbf;
}

.modal-window {
  position: fixed;

  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-window .modal-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 408px;
  min-height: 584px;
  background: #fcfcfc;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 72px 24px 24px 24px;
}

.modal-button {
  position: absolute;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-button:hover,
.modal-button:focus {
  background-color: #404bbf;
  border: none;
}

.modal-button:hover .icon,
.modal-button:focus .icon {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  fill: #ffffff;
}

.modal-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 16px;
}

.input-group {
  margin-bottom: 8px;
}
.input-group .name .phone .email {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
  display: block;
  margin-bottom: 4px;
}

.input-inclusive {
  position: relative;
}

.input-inclusive .input-groups {
  width: 100%;
  height: 100%;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  background-color: transparent;
  padding-left: 38px;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.input-inclusive .user-name:focus {
  border-color: #4d5ae5;
}

.label-group {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04;
  color: #8e8f99;
  display: block;
  margin-bottom: 4px;
}
.icon {
  position: absolute;
  left: 16px;
  top: 50% ;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  width: 18px;
  height: 24px;
}
.comment {
  width: 100%;
  height: 120px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  background-color: transparent;
  padding: 8px 16px;
  outline: transparent;
  resize: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.textarea:focus {
  border-color: #4d5ae5;
}

.input-soon {
  margin-bottom: 24px;
}

.user-privacy {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04;
  color: #8e8f99;
}

.span {
  width: 16px;
  height: 16px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 2px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  fill: transparent;
}

.privacy {
  color: #4d5ae5;
}
.privacy-button {
  display: block;
  min-width: 169px;
  height: 56px;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  cursor: pointer;
  background-color: #4d5ae5;
  border: none;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.middle-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 112px;
  background-color: #f4f4fd;
  border-radius: 4px;
  border: 1px solid #8e8f99;
  margin-bottom: 8px;
}
.middle {
  text-align: left;
}

.middle-part {
  padding: 120px 0;
}
.middle-ul {
  list-style-type: none;
  display: flex;
  gap: 24px;
}
.our-team {
  background-color: #f4f4fd;
  padding: 120px 0;
}

.our-team-div {
  padding: 32px 0;
}

.team-list {
  background-color: #ffffff;
  display: block;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  border-radius: 0px 0px 4px 4px;
}
.team-member {
  display: block;
  text-align: center;
  margin-bottom: 8px;
}

h3 {
  font-family: "Roboto";
  color: #2e2f42;
  font-size: 20px;
  letter-spacing: 0.02em;
  font-weight: 500;
  line-height: 1.2;
  margin-bottom: 8px;
}
.our-team-ul {
  list-style-type: none;
  display: flex;
  gap: 24px;
}
.our-portfolio,
.our-portfolio-2 {
  padding: 120px 0;
  margin-bottom: 72px;
}
.our-portfolio-ul {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
}
.our-portfolio-div {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
  margin-bottom: 8px;
}

p {
  display: flex;
  font-family: "Roboto";
  color: #434455;
  font-size: 16px;
  letter-spacing: 0.02em;
  line-height: 1.5;
  text-align: center;
}
.social-media {
  display: flex;
  justify-content: center;
  gap: 24px;

  height: 40px;
}
.our-team-icon {
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  transition: background-color cubic-bezier(0.4, 0, 0.2, 1);
}

.our-team-icon:hover {
  background-color: #404bbf;
}
.our-team-icon:focus {
  background-color: #404bbf;
}
.our-team-icon {
  fill: #f4f4fd;
  width: 16;
  height: 16;
}

.our-portfolio-li:hover {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}
.our-portfolio-li {
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.our-portfolio .our-portfolio-li:hover {
  transform: translateY(0%);
}

.our-div {
  position: relative;
  overflow: hidden;
}

.portfolio-p {
  position: absolute;
  top: 0;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  padding: 40px 32px;
  background-color: #4d5ae5;
  height: 100%;
  width: 100%;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

h2 {
  font-family: "Roboto";
  font-size: 36px;
  text-align: center;
  text-transform: capitalize;
  color: #2e2f42;
  letter-spacing: 0.02em;
  line-height: 1.11;
  margin-bottom: 72px;
}
.footer {
  padding: 100px 0;
  font-family: "Raleway" sans-serif;
  color: #4d5ae5;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  line-height: 1.17;
  cursor: pointer;
  background-color: #2e2f42;
}
.stu-dio {
  color: #f4f4fd;
}
.container > .logo-footer,
.stu-dio {
  display: inline-block;
  margin-bottom: 16px;
}
.container {
  align-items: baseline;
}
.footer-div {
  margin-right: 120px;
}
.social-media {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #fff;
  margin-bottom: 16px;
}
.footer-ul {
  list-style-type: none;
  display: flex;
  gap: 16px;
}
.footer-li {
  width: 40px;
  height: 40px;
}
.icon-ellipse {
  fill: #f4f4fd;
  height: 40px;
  width: 40px;
}
.footer-a {
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-a:hover {
  background-color: #31d0aa;
}
.footer-a:focus {
  background-color: #31d0aa;
}

.footer-p {
  color: #f4f4fd;
  letter-spacing: 0.02em;
  background-color: #2e2f42;
  font-size: 12px;
  line-height: 1.5;
  max-width: 264px;
  text-transform: lowercase;
  margin-bottom: 16px;
}
.footer-parag {
  margin-bottom: 16px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #fff;
}
.form {
  display: flex;
  gap: 24px;
}
.footer-label-email {
  gap: 24px;
}
.footer-input {
  width: 264px;
  height: 40px;
  border: 1px solid #fff;
  background-color: transparent;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  padding-left: 16px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  color: #fff;
}
.user-privacy {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04;
  color: #8e8f99;
}
.footer-button {
  min-width: 165px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  cursor: pointer;
  background-color: #4d5ae5;
  border: none;
  border-radius: 4px;
}
.footer-svg {
  margin-left: 16px;
}

.privacy {
  color: #4d5ae5;
}

.privacy-span {
  width: 16px;
  height: 16px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 2px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  fill: transparent;
}

.checkbox-input:checked + .checkbox-label .checkbox-span {
  background-color: #404bbf;
  border: none;
  fill: #f4f4fd;
}

.send-button {
  min-width: 169px;
  height: 56px;
  display: block;
  justify-content: center;
  align-items: center;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  cursor: pointer;
  background-color: #4d5ae5;
  border: none;
  border-radius: 4px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.icon {
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  fill: #4d5ae5;
}

.input-group {
  width: 100%;
  height: 40px;
}
.input-group:focus {
  border-color: #4d5ae5;
}
.input-group-two {
  margin-bottom: 16px;
}
.footer-form-inclusive {
  display: flex;
  gap: 24px;
}

.is-open {
  display: none;
}
